.menu__title {
    color: rgb(179, 179, 179);
    padding: 15px;
}
.menu__item a{
display: inline-block;
padding-left: 15px;
transition: all 0.7s ease;
width: 185px;
border-radius: 10px;
}

.menu__item a:focus {
padding-left: 30px;
display: inline-block;
width: 100%;
border-radius: 10px;
background-color: rgba(172, 172, 172, 0.8);
transition: all 0.7s ease;
}
.menu__item a:hover {
    padding-left: 30px;
    display: inline-block;
    width: 100%;
    font-size: 110%;
    font-weight: 700;
    background-color: rgba(172, 172, 172, 0.8);
    border-radius: 10px;
    transition: all 0.7s ease;
}

.menu__home{
    text-align: center;
    height: 70px;
}

.menu__home_image {
    font-size: 30pt;
}