.theme__title:not(:last-child), .theme__code:not(:last-child), .theme__text:not(:last-child) {
    margin: 0px 0px 30px 0px;
}
.theme__title{
font-size: 25px;
font-weight: 700;
text-align: center;
}
.code__item {    
    white-space: pre-wrap;
    background: rgb(220, 220, 220);
    color: black;
    border-radius: 20px;
    padding:10px 10px 10px 50px;
}
.theme__image{
    max-width: 100vh;
}
.text__item_false{   
    text-decoration: line-through;
}
.text__item_title{
    font-size: 23px;
    font-weight: 600;
    text-align: center;
}
.theme__example{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.text__item_padding:not(:last-child){
    padding: 0 0 15px 0;
}
.list_item{
    list-style: inherit;
    list-style-position: outside;   
}
.list{
    margin: 0 0 0 40px;
}
.theme__example_input{
flex: 0 0 40px;
font-size: 23px;
}
.theme__example_button {
    flex: 0 0 40px;
    font-size: 23px;
    border-radius: 100px;
}


